.img-size{
width: 350px;
height: 180px;
}

p {
 font-family:'Calibri'; font-size:18px; color:black; line-height:'1.4';
}

.counts .count-box1 {
  box-shadow: 0px 0 16px rgba(0, 0, 0, 0.1);
  padding: 0.5px;
  background: #fff;
  margin-bottom: 2px;
}

.counts .count-box2 {
  box-shadow: 0px 0 16px rgba(0, 0, 0, 0.1);
  padding: 0.5px;
  background: #fff;
  margin-bottom:0px;
}